.evrth{
    background-color: bisque;
}
.name{
    color: darkslateblue;
    font: bolder;
}
.wrapper{ 
    margin-left: 580px;
    margin-top: 250px;
    font-size: 50px;
}
.score1{
    margin-left: 370px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;

}
.score2{
    margin-left: 370px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}
.score3{
    margin-left: 370px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}
.score4{
    margin-left: 370px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}
.score5{
    margin-left: 370px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}
.btnL{
    margin-left: 100px;
    font-size: 37px;
    cursor: pointer;
    background-color: yellow;
    color: black;
}
.btnH{
    margin-left: 90px;
    font-size: 37px;
    cursor: pointer;
    background-color: orange;
    color: black;
}
.btnSt{
margin-top: 300px;
    margin-left: 100px;
    font-size: 25px;
    background-color: green;
    color: black;
    cursor: pointer;
}
button:hover{
    background-color: #45a049;
}